{% extends 'authentication/form.html' %}

{% block content %}
    <p>
        Помните, что регистрируя свой номер телефона у нас в системе,
        вы можете быть уверены, — он виден только тем, кто непосредственно
        захочет связаться с вами для обсуждения поездки. Телефонные номера не используются
        для рассылки спама или других действий, нарушающих законодательство.
    </p>
    <p>
        <a href="/auth/signin/?{{ params.query_string }}">Вернуться к вводу номера</a>
    </p>
{% endblock %}